<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Piano-Hero.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>92A82C771CC03FFD0080AFC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92A82C8E1CC03FFD0080AFC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92A82C991CC03FFD0080AFC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
